.view > * {
  animation: animate-view 0.5s;
}

@keyframes animate-view {
  from {
    transform: translateX(100%);
  }
}

.loading > *:nth-child(1) {
  animation: loading-first 1s ease-in-out both infinite;
}

.loading > *:nth-child(2) {
  animation: loading-last 1s ease-in-out both infinite;
}

@keyframes loading-first {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes loading-last {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
